.content-meta {
  margin-top: 0.25rem;
  color: var(--gray);
  text-transform: none;
  letter-spacing: normal;
  font-size: 0.85rem;
  font-weight: 400;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
